@{
    ViewBag.Title = "Home Page";
}
<div id="jqdialog-notify">
    <h2>
        JQDialog Notification Sample</h2>
    <p>
        <a href="#" id="jqDialogNotify" class="button">JQDialog Notify</a>
    </p>
</div>
<div id="jqdialog-alert">
    <h2>
        JQDialog Alert Sample</h2>
    <p>
        <a href="#" id="jqDialogAlert" class="button">JQDialog Alert</a>
    </p>
</div>
<div id="jqdialog-confirm">
    <h2>
        JQDialog Confirm Sample</h2>
    <p>
        <a href="#" id="jqDialogConfirm" class="button">JQDialog Confirm</a>
    </p>
</div>
<div id="jqdialog-prompt">
    <h2>
        JQDialog Prompt Sample</h2>
    <p>
        <a href="#" id="jqDialogPrompt" class="button">JQDialog Prompt</a>
    </p>
</div>
<div id="jqdialog-custom-content">
    <h2>
        JQDialog Custom Content Sample</h2>
    <p>
        <a href="#" id="jqDialogCustomContent" class="button">JQDialog Custom Content</a>
    </p>
</div>
<script src="@Url.Content("~/Scripts/App/jqdialog-jq.js")" type="text/javascript"></script>
